<!DOCTYPE html>
<html>

    <head>
        <title>Flask Server</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/lightbox.js"></script>
        <link rel="stylesheet" href="/static/lightbox.css" />
    </head>

    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>